/* Warren colors:  

    color: #b7e4cf; victory green
     #b61b28 ; amazing red 
     #232444 lovely dark blue purple 
     : #00aef3 democratic party bright blue 
     #D9F1FF democratic party light blue 

     SHOULD I SET DEFAULT TO 80% WIDTH?

     polka-dot basics below:
     body {
  background: #232444 ;
  background-image:
    radial-gradient(#fff 30%, transparent 0), 
    radial-gradient(#fff 30%, transparent 0);
  background-size: 90px 90px;
  background-position:  0px 0px, 0px 0px;

    /* night skys background-image: url('https://media.nbcnewyork.com/images/652*367/astronomy-dark-evening-957061+resized.jpg'); */

/* 
  https://www.w3schools.com/howto/howto_css_hero_image.asp - how to write over an image 
}

*/ 


.App {
  text-align: center;
  background-color: #232444;
  color: #fff

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
}

.donationsBar {
  background-color: #b7e4cf;
  text-align: center;
  height: 10vmin;
  width: "100%";
  z-index: 2;
  position: sticky;
}

.video-wrapper {
  position: relative;
}

/* .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

.button {
  background-color: #b61b28;
  color: white
}